/* HeroHome */

.HeroHome-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.HeroHome-container>img {
    width: 50%;
}

.HeroHome-text>h1 {
    text-align: center;
    margin-bottom: 0px;
    color: #0365d1;
    text-shadow: 0px 0px 1px #000;
}

@media (max-width: 768px) {

    /* for mob devices  */
    .HeroHome-text>h1 {
        font-size: calc(1.325rem + .9vw);
    }
}

/* BlogCards */

.text-justify {
    text-align: justify;
}

.intro-msg {
    color: var(--logo-clr);
}

#bootstrap-overrider .page-link:focus {
    outline: none;
    box-shadow: none;
}