/* SignupAuth */

.LoginAuth-container {
    background: #ececec;
}

.box-area {
    width: 930px;
}

.left-box {
    background: #103cbe;
}

.featured-image>img {
    width: 250px;
}

.featured-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.featured-caption {
    width: 17rem;
    font-family: 'Courier New', Courier, monospace;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

::placeholder {
    font-size: 16px;
}

.login-with-img {
    width: 20px;
}



@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }

}