/* SignupAuth */

.SignupAuth-container {
    margin-top: 5%;
    margin-bottom: 20vh;
}

.box-area {
    width: 930px;
}

.left-box {
    background: var(--logo-clr);
}

.featured-image>img {
    width: 250px;
}

.featured-text {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.featured-caption {
    width: 17rem;
    font-family: 'Courier New', Courier, monospace;
}

.right-box {
    padding: 40px 30px 40px 40px;
}

.header-text {
    color: var(--logo-clr);
    text-shadow: 0 0 1px black;
}

#bootstrap-overrider .form-control:focus {
    outline: none;
    box-shadow: none;
}

::placeholder {
    font-size: 16px;
}

.authBtn {
    background: var(--logo-clr);
}

.authBtn:hover {
    background-color: #1f5a84;
}


@media only screen and (max-width: 768px) {

    .box-area {
        margin: 0 10px;

    }

    .left-box {
        height: 100px;
        overflow: hidden;
    }

    .right-box {
        padding: 20px;
    }

}