@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

:root {
  --logo-clr: #2774ac;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.kalam-light {
  font-family: "Kalam", serif;
  font-weight: 300;
  font-style: normal;
}

.kalam-regular {
  font-family: "Kalam", serif;
  font-weight: 400;
  font-style: normal;
}

.kalam-bold {
  font-family: "Kalam", serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-mono-hero {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.logo-clr-txt {
  color: #2774ac;
}